/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*~*
*#*
/dev-resources
/.idea
pegasus.iml

# no logo files
*.sketch

# why does macos do this
.DS_Store